*.pyc
*.pyo
*~
*.bak
*.kpf
*swp
*.sqlite
*.log
.DS_Store
_build
tmp
devel.py
docs/sphinx/build
/templates/appdata/financedesktop_login.html
/pip-log.txt
ecommerce.db
bin
lib
lib64
local
build
share
include
.Python
distribute*.tar.gz
/src/example.db
