{% extends "base.html" %}
{% block title %}Aplicação exemplo{% endblock %}

{% block navigation %}
    <li class="active"><a href="#">Inicio</a></li>
    <li><a href="{% url registration_register %}">Criação de usuários</a></li>
    <li><a href="{% url auth_login %}">Login via API</a></li>
    <li><a href="{% url sso_consumer:iframe %}">Login via SSO</a></li>
    <li><a href="#">Perfil</a></li>
    <li><a href="#">Contas</a></li>
    <li><a href="#">Notificações</a></li>
{% endblock navigation %}

{% block content-header %}
  <h1>Integração ao Passaporte Web</h1>
{% endblock content-header %}

{% block content-inner %}
    <div class="span9">
      <h3>Sobre esta aplicação</h3>
      <p>
        Esta aplicação contem exemplos e a documentação necessária para facilitar o seu trabalho na integração com o Passaporte Web.
      </p>
      <p>
        Aqui você poderá testar algumas das funcionalidades disponibilizadas pelas APIs do Passaporte Web, entender como elas podem ser utilizadas pela sua aplicação e entender como será a experiência do usuário após a integração de sua aplicação.
      </p>
    </div>
{% endblock content-inner %}

{% block content-aside %}
    <dl>
        <dt>Navegação lateral <span class="label important">Importante</span></dt>
        <dd>Aqui você irá encontrar informações importantes e links relativos a cada operação</dd>
        <dt>Para usuários de django</dt>
        <dd>Esta app pode ser integrada ao seu projeto, simplificando muito a sua vida.</dd>
    </dl>
{% endblock content-aside %}
