{% extends "base.html" %}
{% block title %}Myfc ID :: Remote Login{% endblock %}

{% block content %}

    <div class="login">
        {% if form.errors %}
        <div class="alert-message error">
          <a class="close" href="#">×</a>
          <p>
            <strong>Erro!</strong>
            Não foi possível efetuar o login, confira as informações e favor tente novamente.
          </p>
        </div>
        {% endif %}

        <form method="post" action=".">
          <fieldset>
            <legend>Login via API</legend>
            <div class="clearfix">
              <label for="xlInput">{{ form.email.label_tag }}</label>
              <div class="input">
                  {{ form.email }}
                  <span class="help-inline">{{ form.email.errors }}</span>
              </div>
            </div>
            <div class="clearfix">
              <label for="xlInput">{{ form.password.label_tag }}</label>
              <div class="input">
                  {{ form.password }}
                  <span class="help-inline">{{ form.password.errors }}</span>
              </div>
            </div>

            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
          </fieldset>

          <div class="actions">
            <input type="submit" class="btn primary" value="Login"/>
            <a href="{% url registration_register %}" class="btn">Cadastro</a>
          </div>
        </form>
    </div>


{% endblock content %}
