<html>
    <body style="background-color: #ddffff">
    <center>
        <h2>Aplicação de teste do Vitor</h2>
        <br/>
        <!-- src="/sso/widget?next=http://staging.myfinance.com.br/users/auth/myfcid" -->
        <!-- src="http://app.passaporteweb.com.br/sso/widget?next_url=http://staging.edfe.com.br/Login.loginEdfe.logic" -->
        <!-- src="http://192.168.1.48:8000/sso/widget?next_url=http://192.168.1.48:8001/sso/" -->
    <iframe
        src="http://192.168.1.48:8000/sso/widget?next_url=http://192.168.1.48:8001/sso/&display=popup"
        name="myframe" width="380" height="410" frameborder="0"
        allowtransparency="true">
    </iframe>
    </center>
    </body>
</html>
