{% extends "base.html" %}
{% block title %}Informações do usuário '{{ user.get_full_name }}'{% endblock %}

{% block scripts %}
    <script type="text/javascript" charset="utf-8">
        if (window!=window.top) {
            window.top.location = '{% url user_profile %}'
        }
    </script>
{% endblock %}

{% block navigation %}
    <li><a href="{% url index %}">Inicio</a></li>
    <li><a href="{% url registration_register %}">Criação de usuários</a></li>
    <li><a href="{% url auth_login %}">Login via API</a></li>
    <li><a href="{% url sso_consumer:iframe %}">Login via SSO</a></li>
    <li class="active"><a href="{% url user_profile %}">Perfil</a></li>
    <li><a href="{% url list_accounts %}">Contas</a></li>
    <li><a href="#">Notificações</a></li>
{% endblock navigation %}

{% block content-header %}
    <h1>Informações do usuário '{{ user.get_full_name }}'</h1>
{% endblock %}


{% block content %}
    <table class="zebra-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Email</th>
                <th>Apelido</th>
                <th>Nascimento</th>
                <th>Gênero</th>
                <th>País</th>
                <th>Idioma</th>
                <th>Timezone</th>
                <th>CPF</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.first_name|default:"Não informado" }}</td>
                <td>{{ user.last_name|default:"Não informado" }}</td>
                <td>{{ user.email|default:"Não informado" }}</td>
                <td>{{ user.nickname|default:"Não informado" }}</td>
                <td>{{ user.birth_date|default:"Não informado" }}</td>
                <td>{{ user.gender|default:"Não informado" }}</td>
                <td>{{ user.country|default:"Não informado" }}</td>
                <td>{{ user.language|default:"Não informado" }}</td>
                <td>{{ user.timezone|default:"Não informado" }}</td>
                {% if user.cpf %}
                <td>{{ user.cpf }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

{% endblock content %}
