{% extends "base.html" %}
{% block title %}Login via SSO{% endblock title %}

{% block navigation %}
    <li><a href="{% url index %}">Inicio</a></li>
    <li><a href="{% url registration_register %}">Criação de usuários</a></li>
    <li><a href="{% url auth_login %}">Login via API</a></li>
    <li class="active"><a href="#">Login via SSO</a></li>
    <li><a href="#">Perfil</a></li>
    <li><a href="#">Contas</a></li>
    <li><a href="#">Notificações</a></li>
{% endblock navigation %}

{% block content-header %}
  <h1>Login via Single Sign On</h1>
{% endblock content-header %}

{% block content-inner %}
    <section id="iframe">
      <center>
        <iframe
            src="{{ myfcid_host }}/sso/widget?next_url={{ application_host }}/sso/&display=popup"
            name="myframe" width="380" height="410" frameborder="0"
            allowtransparency="true">
        </iframe>
      </center>
    </section>

    <section id="funcionamento">
      <div class="span9">
        <h2>Funcionamento</h2>
        <p> A autenticação de usuários com Single Sign On é implementada utilizando o protocolo OAuth (http://tools.ietf.org/html/rfc5849, http://oauth.net/, http://hueniverse.com/oauth/guide/) pois o mesmo possui implementações de bibliotecas cliente em diversas linguagens (http://oauth.net/code/) e pelo fato do protocolo ser utilizado em larga escala por diversas aplicações, se provando seguro e robusto. </p>
      </div>
    </section>


    <section id="python">
      <div class="span9">
        <h2>Python</h2>
      </div>
    </section>

    <section id="Ruby">
      <div class="span9">
        <h2>Ruby</h2>
        <p> Em projetos ruby a utilização da gem "omni_auth_myfc_id" (http://rubygems.org/gems/omni_auth_myfc_id/versions/1.0.9.pre) simplifica muito a implementação do processo de SSO. Esta gem é uma "estrategia" para a biblioteca omni_auth (https://github.com/intridea/omniauth), que é usada para integrar a autenticação de sistemas ruby a provedores de identidade externos.  </p>
        <p>Para utilizá-la, siga o processo descrito na documentação do omniauth (https://github.com/intridea/omniauth/README.md), utilizando como estratégia a classe 'OmniAuth::Strategies::Myfcid'
        </p>
        <p>
        Exemplo:

          <pre class="prettyprint">
require 'sinatra'
require 'omniauth'

class MyApplication &lt; Sinatra::Base
  use Rack::Session
  use OmniAuth::Strategies::Myfcid, 'consumerkey', 'consumersecret', {:site=&gt; 'http://sandbox.app.passaporteweb.com.br'}
end </pre>

   Consumer key e consumer secret são utilizados para identificar sua aplicação, e neste teste podem ser preenchidos com os mesmos valores do exemplo em php, ou seja:

          <pre class="prettyprint">
consumerkey = 'SRCeyl5ioH'
consumersecret = 'CfRB98YyqXXPNJSrpEAwGVM3OLWHLrAQ' </pre>
        </p>
      </div>
    </section>

    <section id="php">
      <div class="span9">
        <h2>PHP</h2>
        <p> O script abaixo exemplifica o processo de autenticação do usuário utilizando a biblioteca OAuth do PHP (esta biblioteca pode ser encontrada em http://www.php.net/manual/en/intro.oauth.php). Para utilizá-lo, você precisará criar uma conta no ambiente de sandbox do PassaporteWeb (utilizado para testes e homologação de funcionalidades) e deverá alterar o valor da variável "$callback_url", que deverá apontar para a url do script de teste. </p>
          <pre class="prettyprint">
&lt;?php
$req_url = 'http://sandbox.app.passaporteweb.com.br/sso/initiate';
$authurl = 'http://sandbox.app.passaporteweb.com.br/sso/authorize';
$acc_url = 'http://sandbox.app.passaporteweb.com.br/sso/token';
$api_url = 'http://sandbox.app.passaporteweb.com.br/sso/fetchuserdata';
$callback_url = '&lt;url do script atual&gt;';
$conskey = 'SRCeyl5ioH';
$conssec = 'CfRB98YyqXXPNJSrpEAwGVM3OLWHLrAQ';

session_start();

// In state=1 the next request should include an oauth_token.
// If it doesn't go back to 0
if(!isset($_GET['oauth_token']) && $_SESSION['state']==1) {
   $_SESSION['state'] = 0;
}

try {
  $oauth = new OAuth($conskey,$conssec,OAUTH_SIG_METHOD_HMACSHA1,OAUTH_AUTH_TYPE_AUTHORIZATION);
  $oauth-&gt;enableDebug();
  if(!isset($_GET['oauth_token']) && !$_SESSION['state']) {
    $request_token_info = $oauth-&gt;getRequestToken($req_url,$callback_url);
    $_SESSION['secret'] = $request_token_info['oauth_token_secret'];
    $_SESSION['state'] = 1;
    header('Location: '.$authurl.'?oauth_token='.$request_token_info['oauth_token']);
    exit;
  } else if($_SESSION['state']==1) {
    $oauth-&gt;setToken($_GET['oauth_token'],$_SESSION['secret']);
    $access_token_info = $oauth-&gt;getAccessToken($acc_url);
    $_SESSION['state'] = 2;
    $_SESSION['token'] = $access_token_info['oauth_token'];
    $_SESSION['secret'] = $access_token_info['oauth_token_secret'];
  } 
  $oauth-&gt;setToken($_SESSION['token'],$_SESSION['secret']);
  $oauth-&gt;fetch($api_url);
  $json = json_decode($oauth-&gt;getLastResponse());
  print_r($json);
} catch(OAuthException $E) {
  print_r($E);
}
?&gt;
          </pre>
        <p> Caso o script esteja funcionando corretamente, você será redirecionado para a página de autenticação, onde deverá se autenticar e permitir o acesso da aplicação de teste aos dados do seu usuário. Após permitir o acesso você será redirecionado de volta para o script de teste, onde será exibido um objeto contendo os dados do usuário recem autenticado. </p>
      </div>
    </section>

{% endblock content-inner %}

{% block content-aside %}
    <dl>
        <dt>Sobre esta operação <span class="label important">Importante</span></dt>
        <dd>O Single Sign On é o melhor método de autenticação, pois permite que o usuário navegue livremente entre as aplicações que tem acesso.</dd>
    </dl>
    <dl>
        <dt>Exemplos</dt>
        <dd><a href="#python">Python</a></dd>
        <dd><a href="#ruby">Ruby</a></dd>
        <dd><a href="#php">PHP</a></dd>
    </dl>
{% endblock content-aside %}
